@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  font-family: "Press Start 2P";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 140, 255);
  text-align: center;
}

body {
  background-color: rgb(39, 36, 36);
}

header {
  background-color: rgb(39, 36, 36);
  position: sticky;
  top: 0px;
  z-index: 2;
}
header h1 {
  font-size: 1.25rem;
}
header h1 span {
  font-size: 0.75rem;
  color: gold;
}
header .logo {
  height: 10vh;
  width: auto;
}
header .fondo {
  background-color: gold;
}
header .navbar-nav {
  gap: 20px;
  text-align: center;
}
header .navbar-nav .dropdown-menu {
  background-color: rgb(39, 36, 36);
  text-align: center;
}
header .navbar-nav .nav-link, header .navbar-nav .dropdown-item {
  text-decoration: none;
  color: gold;
  border: 1px solid gold;
  border-radius: 15px;
  font-weight: bold;
}
header .navbar-nav .nav-link:hover, header .navbar-nav .dropdown-item:hover {
  background-color: gold;
  color: rgb(39, 36, 36);
  border: 1px solid rgb(39, 36, 36);
}

@keyframes scale {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}
.main-gal img:hover {
  animation: scale 1s forwards ease-in-out;
}

@keyframes whats {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(0);
  }
}
footer .f-nav li .whatsapp {
  animation: whats 2s infinite ease-in-out;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}
footer h2 {
  font-size: 1rem;
}
footer .f-nav {
  width: 25vw;
  display: flex;
  justify-content: space-around;
}
footer .f-nav li {
  list-style: none;
}
footer .f-nav li .rrss {
  height: 8vh;
  width: auto;
}
footer .f-nav li .whatsapp {
  position: fixed;
  bottom: 100px;
  right: 50px;
}
@media (max-width: 430px) {
  footer {
    flex-direction: column;
    gap: 20px;
  }
  footer .f-nav {
    justify-content: center;
    gap: 20px;
  }
}

.home {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.home h2 {
  text-align: center;
  font-size: 1rem;
}
.home .img-car {
  width: 80vw;
  height: auto;
}

.contacto {
  display: flex;
}
.contacto .contact-form, .contacto .map-yt {
  width: 50vw;
}
.contacto .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacto .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacto .contact-form form article {
  display: flex;
  justify-content: space-between;
}
.contacto .contact-form form textarea {
  height: 20vh;
  width: 40vw;
}
.contacto .contact-form form .buttons {
  justify-content: space-around;
}
.contacto .contact-form form .buttons button {
  width: 15vw;
  border: 2px solid gold;
  background-color: rgb(39, 36, 36);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.contacto .contact-form form .buttons button:hover {
  border: rgb(39, 36, 36) solid 2px;
  background-color: gold;
  color: rgb(0, 140, 255);
}
.contacto .map-yt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto .map-yt iframe {
  margin: 20px 0;
  height: 40vh;
  width: 40vw;
}
@media (max-width: 430px) {
  .contacto {
    flex-direction: column;
  }
  .contacto .contact-form, .contacto .map-yt {
    width: 100vw;
  }
  .contacto .contact-form {
    flex-flow: column wrap;
  }
  .contacto .contact-form form input {
    width: 60vw;
  }
  .contacto .contact-form form .incol {
    width: 20vw;
  }
  .contacto .contact-form form textarea {
    width: 90vw;
  }
  .contacto .contact-form form .buttons button {
    width: 45vw;
  }
  .contacto .map-yt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacto .map-yt iframe {
    height: 50vh;
    width: 80vw;
  }
}

.main-gal {
  display: grid;
  grid-template-areas: "ep1 ep1 ep2 ep2 ep3 ep3" "ep4 ep4 ep5 ep5 ep6 ep6" "andor andor bb bb owk owk" ". fett fett mando mando ." "out out repcom repcom zer zer" ". kot kot kot2 kot2 .";
  gap: 30px;
  justify-content: space-around;
  justify-items: center;
}
.main-gal img {
  height: 60vh;
  width: auto;
  border-radius: 15px;
}
.main-gal img:hover {
  z-index: 2;
}
.main-gal .ep1 {
  grid-area: ep1;
}
.main-gal .ep2 {
  grid-area: ep2;
}
.main-gal .ep3 {
  grid-area: ep3;
}
.main-gal .ep4 {
  grid-area: ep4;
}
.main-gal .ep5 {
  grid-area: ep5;
}
.main-gal .ep6 {
  grid-area: ep6;
}
.main-gal .andor {
  grid-area: andor;
}
.main-gal .tbb {
  grid-area: bb;
}
.main-gal .obikenobi {
  grid-area: owk;
}
.main-gal .bobafett {
  grid-area: fett;
}
.main-gal .mando {
  grid-area: mando;
}
.main-gal .outlaws {
  grid-area: out;
}
.main-gal .swrc {
  grid-area: repcom;
}
.main-gal .swzc {
  grid-area: zer;
}
.main-gal .kotor {
  grid-area: kot;
}
.main-gal .kotor2 {
  grid-area: kot2;
}
@media (max-width: 430px) {
  .main-gal {
    grid-template-areas: "ep1" "ep2" "ep3" "ep4" "ep5" "ep6" "andor" "bb" "owk" "fett" "mando" "out" "repcom" "zer" "kot" "kot2";
  }
  .main-gal img {
    height: 50vh;
  }
}

.mgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
}
.mgs .card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}
.mgs .card-container .card-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gold;
  width: 30vw;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  text-align: center;
}
.mgs .card-container .card-template .checked {
  color: gold;
}
.mgs .card-container .card-template .card-img {
  width: 25vw;
  height: auto;
}
@media (max-width: 430px) {
  .mgs .card-container {
    flex-direction: column;
  }
  .mgs .card-container .card-template {
    width: 80vw;
  }
  .mgs .card-container .card-template .card-img {
    width: 50vw;
  }
}

.main-vader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.main-vader .card {
  background-color: rgb(39, 36, 36);
  border: 2px solid gold;
  width: 30vw;
}
.main-vader .card .card-body {
  text-align: center;
  color: gold;
}
@media (max-width: 430px) {
  .main-vader {
    flex-direction: column;
    align-items: center;
  }
  .main-vader .card {
    width: 80vw;
  }
}

/*# sourceMappingURL=styles.css.map */
